*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

html{
    font-size: 10px;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 2rem;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

img{
    height: 30px;
}

nav{
    background-color: antiquewhite;
    grid-row: 1 / -1;
    grid-column: 1;

    padding: 8%;

    display: flex;
    flex-direction: column;

}

#nav-home-div,
#nav-settings-div{
    margin-top: 15%;
}

#nav-dashboard-div,
#nav-home-div > div,
#nav-settings-div > div{
    display: flex;
    align-items: center;
    gap: 2%;
    margin-bottom: 10%;
}

a{
    text-decoration: none;
    color: black;
}

header{
    padding: 100px;
    background-color: aquamarine;
    padding: 2% 5% 0;
    grid-column: 2;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#top-half{
    display: flex;
    justify-content: space-between;
}

#top-half #left,
#top-half #right{
    display: flex;
    align-items: center;
    
    gap: 5%;
}

#top-half #left{
    flex-basis: calc(100%/1.5);
}

#top-half #right{
    justify-content: flex-end;
    flex-basis: calc(100%/3);
}

input[type="text"]{
    border-radius: 20px;
    border: 1px solid rgb(195, 193, 193);
    line-height: 1.8;
    width: 80%;
}

#bottom-half{
    display: flex;
    justify-content: space-between;

}

#bottom-half #left,
#bottom-half #right{
    flex-basis: calc(100%/3);
    display: flex;
    align-items: center;
    gap: 2%;
}

#left-img-div img{
    height: 60px;
}

#bottom-half #right{
    justify-content: space-between;
}

#bottom-half #right button{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #2563eb;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
}

main{
    background-color: blue;
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

main #left{
    padding: 4%;

    background-color: goldenrod;
    grid-column: 1;
    grid-row: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 1%;
}


#gallery-div{
    min-height: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: 5%;
}

.panel{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 7px;
    box-shadow: -8px 0;
}


main #right{
    background-color: purple;
}

